{% extends "testapp/index.html" %}

{% block title %}Login{% endblock %}
{% block content %}

<div>
  <form method="post" enctype="application/x-www-form-urlencoded">
      {% if request.GET.next %}
        <input type="hidden" name="next" value="{{ request.GET.next }}">
      {% endif %}

    {% csrf_token %}
      {% load crispy_forms_tags %}
    {{ form|crispy }}

    <button type="submit">Login</button>
  </form>
</div>

<br>

<div>
    <p><a href="{% url 'home' %}">Create account</a></p>
</div>

<div>
    <a href="{% url 'restricted-page' %}">Access forbidden page</a>
</div>

<div>
    <a href="{% url 'home' %}">Home</a>
</div>

{% endblock %}
