{% extends "testapp/index.html" %}

{% block title %}Upload Photo{% endblock %}
{% block content %}

{% load static %}
<div class="image-container">
    <link rel="stylesheet" type="text/css" href="{% static 'testapp/css/upload-photo.css' %}">
    {% if user %}
        <h4>Uploaded by: {{ user }}</h4>
    {% endif %}
    {% if images %}

        {% for image in images %}
            <img src="{% static img_folder %}{{ image }}">
            <a href="{% url 'delete-photo' %}"><button type="submit">Delete</button></a>
        {% endfor %}
    {% endif %}
</div>

<div>
  <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
    <label for="id_image">Upload Photo:</label>
    <input type="file" accept="image" name="image" required id="id_image">
      <button type="submit">Upload</button>
  </form>
</div>
<p><a href="{% url 'home' %}">Home</a></p>

{% endblock %}